<hello name="{{ name }}"></hello>
<button id="search-view" class="btn btn-minier btn-info btn-force-refresh" 
                        (click)="openPDF()">
                        <i class="icon-eye-open"></i><span>View</span></button>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<p>
  Start editing to see some magic happen :)
</p>
<div id = "bold" *ngIf="true" #myDiv>  <b> Here is the stuff i wanted</b>
</div>